.navbar {
    margin-bottom: 0;
}

.error{
    color:red;
}

.center{
    text-align: center;
    color:red;
}

#center{
    text-align: center;

}

body{
    color:black;
}

.flagged{
    text-align: center;
    color:black;
    background-color: red;
    font-weight: bold;
    width:100%
}





.background-bar {
    background-color: black; 
    position:absolute;
    margin-top: 130px; 
    height: 30px; 
    border-radius: 10px; 
    z-index: -1; 
    width:100%;
}
@media only screen and (max-width: 800px) {
    .about-image {
        display: none;
    }
}